<!DOCTYPE html>
<html>
  <head>
    <title>Pauseplay</title>
    <%= csrf_meta_tags %>
    <link href="https://res.cloudinary.com/deeptailor/image/upload/c_scale,h_250,w_250/v1478849991/transparent-logo_phkcmy.ico" rel="shortcut icon" type="image/x-icon" />

    <script id="bootstrap-current-user" type="text/javascript">
      <% if current_user %>
        window.currentUser = <%=render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      <% end %>
    </script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Rubik+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
